@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@700&family=Poppins:wght@400;600&display=swap);

body{
    background-image: url('./bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: aliceblue;
}
*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 150px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: beige;
    text-decoration: none;
    font-weight: 600;
}

.nav a{
    font-size: 18px;
    color: beige;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;

}
.nav a:hover{
    color: gold;
}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 150px;
}


.about-content h1{
    font-size: 47px;
    font-weight: 700;
}
.about-content h3{
    font-size: 17px;
    max-width: 500px;
}

.icon{
    position: absolute;
    bottom: 40px;
    width: 210px;
    display: flex;
    justify-content: space-between;
    
}

.icon a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.icon a:hover{
    color: gold;
}